version: "3.8"
services:
  paperspace:
    image: sheldonxxxx/paperspace-ai-aio:main-v0.2.1
    environment:
      - BUN_PATH=/app/.bun/bin/bun
      - API_URL=
      - REDIS_URL=redis:6379
      - WEB_HOSTING=1
      - APP_LOG_LEVEL=ERROR
    restart: unless-stopped
    ports:
      - 8000:8000
    entrypoint: reflex run --env prod --backend-only
    
  redis:
    image: redis:latest
    restart: unless-stopped
    ports:
      - 6379:6379